.header p{
letter-spacing: 5px;
box-shadow: 10px 10px 15px black ;
background-color: rgb(67, 222, 228);
border-radius: 5px;
}

#Note{
color:rgb(245, 20, 58);
font-weight: bold;
}

.main_header button{
margin-top: 30px;
font-family: Cochin;
letter-spacing: 3px;
}

.footer{
bottom:0;
width: 100%;
position: fixed;
text-align: center;
background-color: blanchedalmond;
font-weight: bold;
text-shadow: 2px 2px 2px rgb(151,150,150);
}

body{
background: lightgreen;
}